@font-face {
    font-family:"Norse-Bold";
    src: url("Norse-Bold.otf");;
}

html, body {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0%;
    font-family: sans-serif, Arial, Helvetica;
}

/* ------------------------------ Left panel  ------------------------------*/ 
.left-panel {
    align-content: center;
    background-image: url("pictures/photo-1585202900225-6d3ac20a6962.avif");
    width: 57%;
    
    
}

.patch {
    height: 200px;
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    max-width: 100%;
    margin-top:250px;
    background: rgba(0, 0, 0, 0.55);
}

.patch-img {
    height: 180px;
    max-width: 100%;
    max-height: 100%;
    align-self: center;
}

.patch > p {
    color: rgb(255, 255, 255);
    font-family: "Norse-Bold";
    align-self: center;
    font-size: 11vh;
    max-width: 100%;
}
/*------------------------------ Left panel ends ------------------------------*/



/* ------------------------------ Right-content ------------------------------*/

.right-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255)
}

.text {
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 10%;
    display: flex;
    /* border: solid; */
    flex-direction: column;
    width: 65%;
    align-self: center;
    margin-right: 25%;
    margin-top: 10%;
}

.text span {
    font-style: italic;
}

form h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 5%;
}

.fields > div {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
    gap: 5px;
}

.form-backplate {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    padding: 5%;
    padding-top: 0.5%;
}

.form-backplate > h1 {
    margin-left: 0%;
}

.fields {
    display: grid;
    grid-template-columns: repeat(2, 30vh);
    grid-template-rows: repeat(3, auto); 
    grid-row-gap: 30px;
    grid-column-gap: 150px;
}

input {
    border-radius: 4px;
    border-width: 0,05rem;
    border-style: solid;
    border-color: rgb(rgb(2, 2, 2), green, blue);
    border-color: rgb(226, 226, 217);
    width: 320px;
    height: 30px;
}

label {
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(65, 62, 62)
}

section:last-child {
    white-space: nowrap;
}

button {
    width: 270px;
    height: 65px;
    border-radius: 8px;
    border-width: 1px;
    background-color: rgb(86, 100, 55);
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: 60px;
    top: 40px;
}

button:hover,
button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
}

.login-text {
    position: relative;
    top: 80px;
    left: 60px;
    font-size: 20px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: rgb(86, 100, 55);
}

a:hover {
    text-decoration: underline;
}


