@font-face {
    font-family:"Norse-Bold";
    src: url("Norse-Bold.otf");;
}

html, body {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------------ Left panel  ------------------------------*/ 
.left-panel {
    align-content: center;
    background-image: url("pictures/photo-1585202900225-6d3ac20a6962.avif");
    width: 50%;
    
}

.patch {
    height: 200px;
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    max-width: 100%;
    margin-top:250px;
    background: rgba(0, 0, 0, 0.55);
}

.patch-img {
    height: 180px;
    max-width: 100%;
    max-height: 100%;
    align-self: center;
}

.patch > p {
    color: rgb(255, 255, 255);
    font-family: "Norse-Bold";
    align-self: center;
    font-size: 11vh;
    max-width: 100%;
}
/*------------------------------ Left panel ends ------------------------------*/



/* ------------------------------ Right-content ------------------------------*/

.right-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255)
}

.text {
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 10%;
    display: flex;
    /* border: solid; */
    flex-direction: column;
    width: 65%;
    align-self: center;
    margin-right: 25%;
    margin-top: 10%;
}

.text span {
    font-style: italic;
}

/* form {
    padding: 5%;
} */

form h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 5%;
}

/* form{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} */

.fields > div {
    /* border: solid; */
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
}

.fields {
    display: grid;
    grid-template-columns: repeat(2, 30vh);
    grid-template-rows: repeat(3, auto); 
    grid-row-gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    padding: 5%;
}

input {
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(226, 226, 217);
    width: 250px;
    height: 25px;
}



